<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GyCAP.UI.Sistema.Properties.Settings.ProyectoConnectionString"
            connectionString="Data Source=DGA\GONZALO;Initial Catalog=Proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>